@import url('https://cdnjs.cloudflare.com/ajax/libs/lato-font/3.0.0/css/lato-font.min.css');
@import 'tailwindcss';

@theme {
  --font-primary: 'Lato', sans-serif;

  /* Main Primary */
  --color-primary-default: rgb(50, 84, 255);
  --color-primary-100: rgb(36, 63, 219);
  --color-primary-200: rgb(25, 45, 183);
  --color-primary-300: rgb(15, 30, 147);
  --color-primary-400: rgb(9, 20, 122);

  --color-text-dark-primary: #3a3541de;
  --color-text-dark-secondary: #3a3541ad;
  --color-text-dark-disabled: #3a354161;

  --color-text-light-primary: #3a354161;
  --color-text-light-secondary: #e7e3fcad;
  --color-text-light-disabled: #e7e3fc61;

  --color-paper-background: #22282a;
  --color-body-background: #2f3334;
  --color-page-header-background: #181a1c;
  --color-extra-background: #3d4142;
  --color-auth-background: #181a1cd6;

  --color-outline-border: #e7e3fc3b;
  --color-input-border: #e7e3fc38;
  --color-input-field-background: #e7e3fc0a;
  --color-chip-background: #e7e3fc14;

  --color-info-pressed: #024db7;
  --color-info-default: #0586ff;
  --color-info-hover: #0367db;
  --color-info-background: #cdf1ff4d;

  --color-success-pressed: #60a125;
  --color-success-default: #9fe04a;
  --color-success-hover: #7ec036;
  --color-success-background: #f4fddbcc;

  --color-warning-pressed: #b7a207;
  --color-warning-default: #ffe70f;
  --color-warning-hover: #dbc40a;
  --color-warning-background: #fffccfcc;

  --color-error-pressed: #b71f1d;
  --color-error-default: #db3a2a;
  --color-error-hover: #ff5b3a;
  --color-error-background: #ffead780;

  --color-gray-900: #212121;
  --color-gray-800: #424242;
  --color-gray-700: #616161;
  --color-gray-600: #757575;
  --color-gray-500: #9e9e9e;
  --color-gray-400: #bdbdbd;
  --color-gray-300: #e0e0e0;
  --color-gray-200: #eeeeee;
  --color-gray-100: #f5f5f5;
  --color-gray-50: #fafafa;

  --text-2xs: 10px;
  --text-2xs--line-height: 1.4;
}

@layer base {
  body {
    @apply font-primary box-border text-xs tracking-wide text-white bg-body-background;
  }
}

@layer components {
  .auth__link {
    @apply text-[10px] font-semibold;
  }
}
